<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <title><%= data.apis[current_path].title %></title>

    <%= stylesheet_link_tag 'swagger-ui' %>
    <%= stylesheet_link_tag 'main' %>

    <%= favicon_tag 'favicon-32x32.png', sizes: '32x32' %>
    <%= favicon_tag 'favicon-16x16.png', sizes: '16x16' %>

    <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
  </head>
  <body>
    <%= partial 'header' %>
    <%= yield %>
  </body>
</html>
